data/
*.o
*.swp
bin/
openmp/backprop/backprop
openmp/heartwall/heartwall
openmp/kmeans/kmeans_openmp/kmeans
openmp/kmeans/kmeans_serial/kmeans
openmp/lud/omp/lud_omp
openmp/nw/needle
needle.dSYM
openmp/srad/srad_v1/image_out.pgm
openmp/srad/srad_v1/srad
openmp/b+tree/b+tree.out
openmp/nn/nn
openmp/nn/hurricane_gen
openmp/nw/result.txt
openmp/b+tree/output.txt