data/
*.o
*.swp
bin/
openmp/backprop/backprop
openmp/heartwall/heartwall
openmp/kmeans/kmeans_openmp/kmeans
openmp/kmeans/kmeans_serial/kmeans
openmp/lud/omp/lud_omp
openmp/nw/needle
needle.dSYM
openmp/srad/srad_v1/image_out.pgm
openmp/srad/srad_v1/srad
